<html>
<script src="angular.min.js"></script>
<link rel="stylesheet"
  href="bootstrap.min.css" />

<body ng-app="appModule"
  class="container" ng-controller="mainController">
  <table
    class="table">
    <thead>
      <tr>
        <th>Service</th>
        <th>Hits</th>
        <th>Target URL</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(service, rule) in services">
        <td>
          <a href="http://{{host}}:{{redirectPort}}/{{service}}">
            {{service}}
          </a>
        </td>
        <td>{{rule.hits}}</td>
        <td>
          <form class="form">
            <div class="form-group" style="width:100%">
              <input type="text"
                placeholder="Target URL template"
                name="target"
                class="form-control"
                ng-model="services[service].target" />
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" name="isTemplate" value="{{rule.isTemplate}}"
              ng-model="services[service].isTemplate">
              <label class="form-check-label" for="isTemplate">Is template?</label>
            </div>
            <button ng-click="add(service, services[service].target, services[service].isTemplate)"
              class="btn btn-info pull-right">Update</a>
            <button ng-click="remove(service)"
              class="btn btn-danger pull-right">Remove</a>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="well">
    <form method="POST"
      action="/api/"
      class="form-horizontal">
      <fieldset>
        <legend>Add new service</legend>
        <div class="form-group">
          <label for="newService"
            class="col-lg-2 control-label">
            Unique service path
          </label>
          <div class="col-lg-10">
            <input type="text"
              placeholder="Service"
              class="form-control"
              name="service"
              ng-model="newService"
              id="newService" />
          </div>
        </div>
        <div class="form-group">
          <label for="newTemplate"
            class="col-lg-2 control-label">
            URL template for redirects
          </label>
          <div class="col-lg-10">
            <input type="text"
              class="form-control "
              placeholder="Target URL template"
              name="template"
              ng-model="newTemplate"
              id="newTemplate" />
            <span class="help-block">All functions from Go text/template can be used with environment as http.Request</span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-2 control-label">Is Template?</label>
          <div class="col-lg-10">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" name="isTemplate"
              ng-model="newIsTemplate">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button type="reset"
              class="btn btn-default">Cancel</button>
            <button
              type="button"
              class="btn btn-success" ng-click="add(newService, newTemplate, newIsTemplate)">Add</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</body>
<script>
  var appModule = angular.module("appModule", []);
  appModule.controller("mainController", ["$scope", "$http", "$interval", function($scope, $http, $interval) {
    $http.defaults.headers.post["Content-Type"] = "application/x-www-form-urlencoded";
    $scope.services = {};
    $scope.host = window.location.hostname;
    $scope.redirectPort = 0;
    $scope.update = function() {
      $http.get('/api/')
        .then(function(response) {
          $scope.redirectPort = response.headers('X-Redir-Port');
          $scope.services = response.data;
        });
    }
    $scope.add = function(service, target, isTemplate) {
      var params = {
        url: service,
        target,
        isTemplate
      };
      $http.post('/api/', params, {'headers':{
        'Content-Type': 'application/json'
      }})
        .then(function(response) {
          $scope.update();
        }, function(response) {
          alert("Failed add or update");
        });
    }
    $scope.remove = function(name) {
      $http.delete('/api/' + name)
        .then(function(response) {
          $scope.update();
        }, function(response) {
          alert("Failed remove");
        });
    }
    $scope.update();
  }]);
</script>

</html>